<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
    <title>${projectKey}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="icon" type="image/png" href="/img/icon.png" />

    <script language="javascript" type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
</head>

<body>
<div class=main>
    <!-- Navigation -->
    {{> inc/top_menu }}
    <div id=mid_area>
        <!-- Content -->
        <div id=data_area>
            {{{layout.body}}}
        </div>
    </div>
</div>
</body>
</html>