{{#layout}}

<h1>Регистрация</h1>

{{>inc/error_msg}}

<div class=register>
	<form method=post>
		<table>
		<tr>
			<td>E-mail
			<td><input type=text name=email value="{{userRegistrationForm.email}}">
            <td>
		<tr>
			<td>Пароль (не от мыла)
			<td><input type=password name=password value='{{userRegistrationForm.password}}'>
            <td>{{formError.password}}
        <tr>
			<td>Пароль еще разок
			<td><input type=password name=passwordConfirm value='{{userRegistrationForm.passwordConfirm}}'>
            <td>{{formError.passwordConfirm}}
        <tr>
			<td>Как к Вам обращаться
			<td><input type=text name=name value="{{userRegistrationForm.name}}">
            <td>{{formError.name}}
		<tr>
			<td colspan=3><input type=submit name=register_submit value='  Готово  '>
			&nbsp;&nbsp;&nbsp;&nbsp;<a href="/login">Войти</a>
		</table>
	</form>
</div>

{{/layout}}
